@tailwind base;
@tailwind components;
@tailwind utilities;



#main {
    -webkit-app-region: drag
}






body {
    background-color: rgb(187, 187, 187);
    color: black;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(33, 17, 53);
        color: white;
    }
}